<div class="page-header">
  <h2>Change password</h2>
</div>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource), html: { method: :put }) do |f| %>
  <%= error_messages_for(resource) %>

  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :password, 'New password' %>
      <%= f.password_field :password, autocomplete: 'off', class: %w(form-control) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :password_confirmation, 'New password confirmation' %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: %w(form-control) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: 'off', class: %w(form-control) %>
    </div>
  </div>

  <p>
    <%= f.submit 'Update', class: %w(btn btn-success) %>
  </p>
<% end %>

<%= link_to "Back", :back %>
