<%= form_for @appointment_summary, url: admin_appointment_summary_path(@appointment_summary) do |f| %>
  <div class="page-header">
    <h1><%= title 'Resend appointment summary email' %></h1>
  </div>

  <%= error_messages_for(@appointment_summary) %>

  <div class="form-group">
    <%= f.label :title %>
    <%= @appointment_summary.title %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= @appointment_summary.first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= @appointment_summary.last_name %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_appointment %>
    <%= @appointment_summary.date_of_appointment %>
  </div>

  <div class="form-group">
    <%= f.label :reference_number %>
    <%= @appointment_summary.reference_number %>
  </div>

  <div class="form-group">
    <%= f.label :requested_digital, 'Delivery method' %>
    <%= @appointment_summary.requested_digital ? 'Digital' : 'Paper' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: %w(form-control t-email input-md-3) %>
  </div>

  <p>
    <%= f.submit 'Resend email', class: %w(btn-success t-save-and-resend btn-lg) %>
    <%= link_to 'Cancel', admin_appointment_summaries_path, class: %w(btn-default btn-lg btn) %>
  </p>

<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>
