<%= form_for resource, as: resource_name, url: invitation_path(resource_name),
             html: { method: :post } do |f| %>
  <div class="page-header">
    <h2><%= title t('devise.invitations.new.header') %></h2>
  </div>

  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| %>
    <div class="form-group">
      <%= f.label field %>
      <%= f.text_field field, class: ['form-control', 'input-md-6', "t-#{field}"] %>
    </div>
  <% end %>

  <p>
    <%= f.submit t('devise.invitations.new.submit_button'), class: %w(t-submit) %>
  </p>
<% end %>
