<div class="page-header">
  <h1><%= title 'Reprint Summary' %></h1>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="well col-md-11">
      <%= form_for @appointment_form, url: appointment_summaries_path, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <div class="form-group">
          <%= f.label :search_date, 'Appointment Date', class: 'inline' %>
          <%= f.text_field :search_date, class: 'form-control t-date-search', placeholder: 'DD/MM/YYYY' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-default t-date-search-button' %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="well col-md-11 col-md-offset-1">
      <%= form_for @appointment_form, url: appointment_summaries_path, method: :get, html: { class: 'inline form-inline' } do |f| %>
        <div class="form-group">
          <%= f.label :search_string, 'Reference Number', class: 'inline' %>
          <%= f.text_field :search_string, class: 'form-control t-search', placeholder: 'Reference Number' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-default t-search-button' %>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th scope="col">Booking<br>reference</th>
      <th scope="col">Guider</th>
      <th scope="col">Customer</th>
      <th scope="col">Appointment<br>date</th>
      <th scope="col">Created<br>at</th>
      <th scope="col">Email copy<br>requested</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointment_form.results.each do |summary| %>
      <tr class="t-appointment">
        <td class="t-reference-number"><%= summary.reference_number %></td>
        <td><%= summary.guider_name %> (<%= summary.telephone_appointment? ? 'phone' : 'F2F' %>)</td>
        <td><%= "#{summary.title} #{summary.first_name} #{summary.last_name}" %></td>
        <td><%= summary.date_of_appointment.to_fs(:gov_uk) %></td>
        <td><%= summary.created_at.to_fs(:govuk_date) %></td>
        <td><%= summary.requested_digital ? 'Yes' : 'No' %></td>
        <td><%= summary.email %></td>
        <td>
          <% unless summary.requested_digital? %>
            <%= link_to 'Reprint', new_appointment_summary_path(appointment_summary: summary.attributes), class: 't-reprint' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
