<h1><%= title 'Appointment Summaries' %></h1>

<div class="well">
  <%= form_for @appointment_form, url: appointment_summaries_path, method: :get, html: { class: 'inline form-inline' } do |f| %>
    <div class="form-group">
      <%= f.label :search_string, 'Search', class: 'inline' %>
      <%= f.text_field :search_string, class: 'form-control t-search', placeholder: 'Surname or Reference' %>
    </div>
    <%= f.submit 'Search', class: 'btn btn-default t-search-button' %>
  <% end %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th scope="col">Reference</th>
      <th scope="col">Guider</th>
      <th scope="col">Customer</th>
      <th scope="col">Appointment<br>Date</th>
      <th scope="col">Generated<br>At</th>
      <th scope="col">Requested<br>Digital</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointment_form.results.each do |summary| %>
      <tr class="t-appointment">
        <td class="t-reference-number"><%= summary.reference_number %></td>
        <td><%= summary.guider_name %></td>
        <td><%= "#{summary.title} #{summary.first_name} #{summary.last_name}" %></td>
        <td><%= summary.date_of_appointment.to_s(:gov_uk) %></td>
        <td><%= summary.created_at.to_s(:govuk_date) %></td>
        <td><%= summary.requested_digital ? 'Yes' : 'No' %></td>
        <td><%= summary.email %></td>
        <td>
          <%= link_to 'Regenerate', new_appointment_summary_path(appointment_summary: summary.attributes), class: 't-regenerate' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
