<% if @appointment_summary.errors.any? %>
  <ul>
    <% @appointment_summary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @appointment_summary, url: appointment_summaries_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 't-name' %>
  <%= f.label :email_address %>
  <%= f.text_field :email_address, class: 't-email-address' %>
  <%= f.submit 'Submit', class: 't-submit' %>
<% end %>
