<%= form_for @appointment_summary, url: appointment_summaries_path do |f| %>
  <h1><%= title 'Record of guidance builder' %></h1>

  <% if @appointment_summary.errors.any? %>
    <ul>
      <% @appointment_summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p class="intro">Use this form to enter the visitor or caller's personal details provided during
    the guidance appointment and to create a personalised output document.</p>

  <h2>Visitor or caller details</h2>

  <div class="l-form-row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 't-name' %>
  </div>

  <div class="l-form-row">
    <%= f.label :email_address %>
    <%= f.text_field :email_address, class: 't-email-address' %>
  </div>

  <div class="l-form-row">
    <%= f.label :date_of_appointment %>
    <%= f.date_field :date_of_appointment, class: 't-date-of-appointment' %>
  </div>

  <hr>

  <h2>Guider details</h2>

  <div class="l-form-row">
    <%= f.label :guider_name %>
    <%= f.text_field :guider_name, class: 't-guider-name' %>
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Organisation:</span>
      </legend>

      <p>
        <%= f.label :guider_organisation do %>
          <%= f.radio_button :guider_organisation, 'cab',
                             class: 't-guider-organisation-cab' %>
          Citizens Advice
        <% end %>
      </p>

      <p>
        <%= f.label :guider_organisation do %>
          <%= f.radio_button :guider_organisation, 'tpas',
                             class: 't-guider-organisation-tpas' %>
          The Pensions Advisory Service
        <% end %>
      </p>
    </fieldset>
  </div>

  <hr>

  <h2>Pension pot details</h2>

  <div class="l-form-row">
    <%= f.label :value_of_pension_pots %>
    <%= f.number_field :value_of_pension_pots, class: 't-value-of-pension-pots' %>
  </div>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Income in retirement:</span>
      </legend>
      <p>
        <%= f.label :income_in_retirement do %>
          <%= f.radio_button :income_in_retirement, 'pension',
                             class: 't-income-in-retirement-pension' %>
          Defined contribution pot is their only source of income
        <% end %>

        <%= f.label :income_in_retirement do %>
          <%= f.radio_button :income_in_retirement, 'other',
                             class: 't-income-in-retirement-other' %>
          Other income is available in retirement
        <% end %>
      </p>
    </fieldset>
  </div>

  <hr>

  <h2>Retirement plans and pension options</h2>

  <div class="l-form-row">
    <fieldset>
      <legend>
        <span>Circumstances and preferences:</span>
      </legend>
      <p>
        <%= f.label :continue_working do %>
          <%= f.check_box :continue_working, class: 't-continue-working' %>
          Plans to continue working for a while
        <% end %>
      </p>

      <p>
        <%= f.label :unsure do %>
          <%= f.check_box :unsure, class: 't-unsure' %>
          Unsure about plans in retirement
        <% end %>
      </p>

      <p>
        <%= f.label :leave_inheritance do %>
          <%= f.check_box :leave_inheritance, class: 't-leave-inheritance' %>
          Plans to leave money to someone
        <% end %>
      </p>

      <p>
        <%= f.label :wants_flexibility do %>
          <%= f.check_box :wants_flexibility, class: 't-wants-flexibility' %>
          Wants flexibility when taking money
        <% end %>
      </p>

      <p>
        <%= f.label :wants_security do %>
          <%= f.check_box :wants_security, class: 't-wants-security' %>
          Wants a guaranteed income
        <% end %>
      </p>

      <p>
        <%= f.label :wants_lump_sum do %>
          <%= f.check_box :wants_lump_sum, class: 't-wants-lump-sum' %>
          Needs a certain amount of money now
        <% end %>
      </p>

      <p>
        <%= f.label :poor_health do %>
          <%= f.check_box :poor_health, class: 't-poor-health' %>
          Has poor health
        <% end %>
      </p>
    </fieldset>
  </div>

  <%= f.submit 'Submit', class: 't-submit' %>
<% end %>
