<%= form_for @appointment_summary, url: preview_appointment_summaries_path do |f| %>
  <div class="page-header">
    <h1><%= title 'New appointment summary' %></h1>
  </div>

  <p class="lead">Use this form to enter the caller’s personal details given during the guidance
    appointment and to issue a summary document.</p>

  <div class="consent">
    <p class="highlight highlight-orange">
      Has caller consented to sharing data for the purpose of creating an appointment summary and sending a
      summary document?
    </p>
  </div>

  <div class="display_if_consent">
    <%= error_messages_for(@appointment_summary) %>

    <h2>Caller details</h2>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.select :title, AppointmentSummary::TITLES,
                   { prompt: true }, { class: %w(form-control input-md-2 t-title) } %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: %w(form-control input-md-3 t-first-name) %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: %w(form-control input-md-3 t-last-name) %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: %w(form-control t-email input-md-3) %>
    </div>

    <h3 id="postal-address-heading">Postal address</h3>

    <div class="form-group">
      <%= f.label :address_line_1 do %>Building and street <span class="visuallyhidden">line 1</span><% end %>
      <%= f.text_field :address_line_1, class: %w(form-control input-md-3 t-address-line-1) %>
    </div>

    <div class="form-group">
      <%= f.label :address_line_2, class: 'visuallyhidden' %>
      <%= f.text_field :address_line_2, class: %w(form-control input-md-3 t-address-line-2) %>
    </div>

    <div class="form-group">
      <%= f.label :address_line_3, class: 'visuallyhidden' %>
      <%= f.text_field :address_line_3, class: %w(form-control input-md-3 t-address-line-3) %>
    </div>

    <div class="form-group">
      <%= f.label :town %>
      <%= f.text_field :town, class: %w(form-control input-md-3 t-town) %>
    </div>

    <div class="form-group">
      <%= f.label :county, 'County (optional)' %>
      <%= f.text_field :county, class: %w(form-control input-md-3 t-county) %>
    </div>

    <div class="form-group">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: %w(form-control input-md-2 t-postcode) %>
    </div>

    <div class="form-group">
      <%= f.label :country, 'Country' %>
      <%= f.select :country, Countries.all, {}, class: %w(form-control input-md-3 t-country) %>
    </div>

    <h3>Appointment</h3>

    <div class="form-group">
      <%= f.label :date_of_appointment %>
      <%= f.date_field :date_of_appointment,
                       class: %w(form-control input-md-2 t-date-of-appointment) %>
    </div>

    <div class="form-group">
      <%= f.label :reference_number %>
      <%= f.text_field :reference_number, class: %w(form-control input-md-2 t-reference-number) %>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span>Type of appointment</span>
        </legend>
        <div class="radio">
          <%= f.label :appointment_type, value: 'standard' do %>
            <%= f.radio_button :appointment_type, 'standard',
                               class: 't-appointment-type-standard' %>
            Appointment for customers aged 55+
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :appointment_type, value: '50_54' do %>
            <%= f.radio_button :appointment_type, '50_54',
                               class: 't-appointment-type-50-54' %>
            Appointment for customers aged 50-54
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="form-group if-no-js-hide">
      <fieldset>
        <legend>
          <span>Is this the callers first appointment?</span>
        </legend>
        <div class="radio">
          <label>
            <%= radio_button_tag :first_appointment, 'yes',
                                 f.object.number_of_previous_appointments.zero?,
                                 class: 't-first-appointment-yes js-first-appointment' %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= radio_button_tag :first_appointment, 'no',
                                 f.object.number_of_previous_appointments.positive?,
                                 class: 't-first-appointment-no js-first-appointment' %>
            No
          </label>
        </div>
      </fieldset>
    </div>

    <div class="form-group js-previous-appointments hide-with-js">
      <fieldset>
        <legend>
          <span>Number of previous appointments</span>
        </legend>

        <div class="radio hide-with-js">
          <label>
            <%= f.radio_button :number_of_previous_appointments, '0',
                               class: 't-number-of-previous-appointments-0 js-previous-appointment js-previous-appointment-0' %>
            Zero
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :number_of_previous_appointments, '1',
                               class: 't-number-of-previous-appointments-1 js-previous-appointment js-previous-appointment-1' %>
            One
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :number_of_previous_appointments, '2',
                               class: 't-number-of-previous-appointments-2 js-previous-appointment' %>
            Two
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :number_of_previous_appointments, '3',
                               class: 't-number-of-previous-appointments-3 js-previous-appointment' %>
            Three
          </label>
        </div>
      </fieldset>
    </div>

    <h2>Guider details</h2>

    <div class="form-group">
      <%= f.label :guider_name %>
      <%= f.text_field :guider_name, class: %w(form-control input-md-3 t-guider-name) %>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span>Organisation</span>
        </legend>

        <div class="radio">
          <%= f.label :guider_organisation, value: 'tpas' do %>
            <%= f.radio_button :guider_organisation, 'tpas',
                               class: 't-guider-organisation-tpas' %>
            The Pensions Advisory Service
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :guider_organisation, value: 'dwp' do %>
            <%= f.radio_button :guider_organisation, 'dwp',
                               class: 't-guider-organisation-dwp' %>
            The Department of Work and Pensions
          <% end %>
        </div>
      </fieldset>
    </div>

    <hr>

    <h2>Pension pot details</h2>

    <div class="form-group">
      <fieldset>
        <legend>
          <span>Does caller have a defined contribution pension?</span>
        </legend>
        <div class="radio">
          <%= f.label :has_defined_contribution_pension, value: 'yes' do %>
            <%= f.radio_button :has_defined_contribution_pension, 'yes',
                               class: 't-has-defined-contribution-pension-yes' %>
            Yes
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :has_defined_contribution_pension, value: 'no' do %>
            <%= f.radio_button :has_defined_contribution_pension, 'no',
                               class: 't-has-defined-contribution-pension-no' %>
            No
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :has_defined_contribution_pension, value: 'unknown' do %>
            <%= f.radio_button :has_defined_contribution_pension, 'unknown',
                               class: 't-has-defined-contribution-pension-unknown' %>
            Don't know
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="display_if_eligible">
      <div class="row">
        <div class="col-md-4" id="col-pension-pot-value">
          <div class="form-group form-inline">
            <%= f.label :value_of_pension_pots do %>
              Value of pension pots
              <span class="input-help">Only use numbers, don't include pence, eg 27500</span>
            <% end %>
            £ <%= f.text_field :value_of_pension_pots, placeholder: 27500,
                               class: %w(form-control t-value-of-pension-pots input-md-2 js-numbers-only) %>

            <span class="display_if_range">
              <br />
              to
              <br />
              <%= f.label :upper_value_of_pension_pots do %>
                <span class="visuallyhidden">Upper value of pension pots (optional) Only use numbers, don't include pence, eg 30000</span>
              <% end %>
              £ <%= f.text_field :upper_value_of_pension_pots, placeholder: 30000,
                               class: %w(form-control input-md-2 js-numbers-only t-upper-value-of-pension-pots) %>
              <span class="hide-with-js"> (optional)</span>
            </span>

            <div class="js-error-message error"></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :count_of_pension_pots do %>
              How many pension pots does the caller have?
              <span class="input-help">Only use numbers</span>
            <% end %>
            <%= f.text_field :count_of_pension_pots, class: %w(form-control input-md-2 js-numbers-only js-pot-count t-count-of-pension-pots) %>
            <div class="js-error-message error"></div>
          </div>
        </div>
      </div>

      <div class="form-group form-inline hide-with-js">
        <div class="checkbox">
          <%= f.label :value_of_pension_pots_is_approximate do %>
            <%= f.check_box :value_of_pension_pots_is_approximate, class: 't-value-of-pension-pots-is-approximate' %>
            Value of pension pots is approximate
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <fieldset>
          <legend>
            <span>Income in retirement</span>
          </legend>
          <div class="radio">
            <%= f.label :income_in_retirement, value: 'pension' do %>
              <%= f.radio_button :income_in_retirement, 'pension',
                                 class: 't-income-in-retirement-pension' %>
              Only defined contribution pension(s) and State Pension (if eligible)
            <% end %>
          </div>

          <div class="radio">
            <%= f.label :income_in_retirement, value: 'other' do %>
              <%= f.radio_button :income_in_retirement, 'other',
                                 class: 't-income-in-retirement-other' %>
              Other income is available
            <% end %>
          </div>
        </fieldset>
      </div>


      <hr>

      <h2>Retirement plans and pension options</h2>

      <div class="form-group">
        <fieldset>
          <legend>
            <span>Circumstances and preferences</span>
          </legend>
          <div class="checkbox">
            <%= f.label :continue_working do %>
              <%= f.check_box :continue_working, class: 't-continue-working' %>
              Plans to continue working for a while
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :unsure do %>
              <%= f.check_box :unsure, class: 't-unsure' %>
              Unsure about plans in retirement
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :leave_inheritance do %>
              <%= f.check_box :leave_inheritance, class: 't-leave-inheritance' %>
              Plans to leave money to someone
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :wants_flexibility do %>
              <%= f.check_box :wants_flexibility, class: 't-wants-flexibility' %>
              Wants flexibility when taking money
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :wants_security do %>
              <%= f.check_box :wants_security, class: 't-wants-security' %>
              Wants a guaranteed income
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :wants_lump_sum do %>
              <%= f.check_box :wants_lump_sum, class: 't-wants-lump-sum' %>
              Needs a certain amount of money now
            <% end %>
          </div>

          <div class="checkbox">
            <%= f.label :poor_health do %>
              <%= f.check_box :poor_health, class: 't-poor-health' %>
              Has poor health
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="display_if_eligible">
      <h2>Supplementary information</h2>

      <div class="form-group">
        <legend>Does visitor need supplementary information about any of the following?</legend>

        <div class="checkbox">
          <%= f.label :supplementary_benefits do %>
            <%= f.check_box :supplementary_benefits,
                            class: 't-supplementary-benefits' %>
            Benefits and pension income
          <% end %>
        </div>

        <div class="checkbox">
          <%= f.label :supplementary_debt do %>
            <%= f.check_box :supplementary_debt,
                            class: 't-supplementary-debt' %>
            Debt and pensions
          <% end %>
        </div>

        <div class="checkbox">
          <%= f.label :supplementary_ill_health do %>
            <%= f.check_box :supplementary_ill_health,
                            class: 't-supplementary-ill-health' %>
            Pensions and ill health
          <% end %>
        </div>

        <div class="checkbox">
          <%= f.label :supplementary_defined_benefit_pensions do %>
            <%= f.check_box :supplementary_defined_benefit_pensions,
                            class: 't-supplementary-defined-benefit-pensions' %>
            Final salary or career average pensions
          <% end %>
        </div>
      </div>
    </div>

    <h2>Summary document</h2>

    <div class="form-group">
      <fieldset>
        <legend>
          <span>Format preference</span>
        </legend>
        <div class="radio">
          <%= f.label :format_preference, value: 'standard' do %>
            <%= f.radio_button :format_preference, 'standard',
                               class: 't-format-preference-standard' %>
            Standard
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :format_preference, value: 'large_text' do %>
            <%= f.radio_button :format_preference, 'large_text',
                               class: 't-format-preference-large-text' %>
            Large text
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :format_preference, value: 'braille' do %>
            <%= f.radio_button :format_preference, 'braille',
                               class: 't-format-preference-braille' %>
            Braille
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>
          <span>Delivery method</span>
        </legend>

        <div class="radio">
          <label>
            <%= f.radio_button :requested_digital, 'true',
                               class: 't-requested-digital' %>
            Digital
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :requested_digital, 'false',
                               class: 't-requested-postal' %>
            Post
          </label>
        </div>
      </fieldset>
    </div>

    <p>
      <%= f.submit 'Preview', class: %w(btn-success t-submit btn-lg) %>
    </p>

  </div>
<% end %>

<script type="text/html" id="consent">
  <div class="checkbox">
    <label for="appointment_summary_consent">
      <input class="t-continue-working" type="checkbox" value="1" name="appointment_summary[consent]" id="appointment_summary_consent" />
      Caller has consented to sharing data for for the purpose of creating an appointment summary and sending a
      summary document
    </label>
  </div>
</script>

<script type="text/html" id="postcode-lookup-template">
  <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
    <label for="appointment_summary_lookup" class="visuallyhidden">Postcode or address to search for</label><br>
    <input class="form-control input-md-3 add-right-margin" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
    <button class="btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
  </div>
  <div class="form-group form-inline" id="postcode-lookup-results-container">
  </div>
</script>

<script type="text/html" id="pension-pot-accuracy">
  <div class="col-md-4 col-accuracy">
    <div class="form-group">
      <fieldset>
        <legend>
          <span>How accurate is the value given by the caller?</span>
        </legend>
        <div class="radio">
          <label for="appointment_summary_accuracy_1">
            <input type="radio" value="exact" name="appointment_summary[accuracy]" id="appointment_summary_accuracy_1" />
            Exact
          </label>
        </div>
        <div class="radio">
          <label for="appointment_summary_accuracy_2">
            <input type="radio" value="approximate" name="appointment_summary[accuracy]" id="appointment_summary_accuracy_2" />
            Approximate
          </label>
        </div>
        <div class="radio">
          <label for="appointment_summary_accuracy_3">
            <input type="radio" value="range" name="appointment_summary[accuracy]" id="appointment_summary_accuracy_3" />
            A range
        </label>
        </div>
        <div class="radio">
          <label for="appointment_summary_accuracy_4">
            <input type="radio" value="notprovided" name="appointment_summary[accuracy]" id="appointment_summary_accuracy_4" />
            No value given
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</script>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>
