<% content_for :head do %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for :app_title, 'Pension Wise Summary Documents' %>
<% content_for :page_title, title %>

<% content_for :exclude_analytics, true %>
<% content_for :body_start do %>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5ZZXFV"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5ZZXFV');</script>
  <!-- End Google Tag Manager -->
<% end %>

<% if user_signed_in? %>
  <%= content_for :navbar_right do %>
    <div class='session-details-panel'>
      <span class='session-details-panel__username'>Logged in as: <%= current_user.name %></span>
      <%= link_to 'Logout', destroy_user_session_path %>
      <%= link_to 'Change password', edit_user_registration_path %>
    </div>
  <% end %>

  <% if current_user.team_leader? %>
    <% content_for :navbar_items do %>
      <li>
        <%= link_to 'Reprint', appointment_summaries_path %>
      </li>
      <% if current_user.admin? %>
        <li>
          <%= link_to 'Reporting', admin_appointment_summaries_path %>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:content) do %>
  <%= render 'shared/alerts' %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
