<% content_for :head do %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<%= content_for :app_title, 'Pension Wise Record of Guidance' %>
<%= content_for :page_title, title %>

<% if user_signed_in? %>
  <%= content_for :navbar_right do %>
    <div class='session-details-panel'>
      <span class='session-details-panel__username'>Logged in as: <%= current_user.name %></span>
      <%= link_to 'Logout', destroy_user_session_path %>
    </div>
  <% end %>
<% end %>

<%= content_for(:content) do %>
  <%= render 'shared/alerts' %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
