<!DOCTYPE html>
<html lang="en">
<head>
  <%= display_meta_tags site: 'Pension Wise', separator: '-', reverse: true %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="l-page-container">
  <h1>Pension Wise record of guidance</h1>
  <% if user_signed_in? %>
    <p><%= link_to 'Logout', destroy_user_session_path %></p>
  <% end %>
  <%= render 'shared/alerts' %>
  <%= yield %>
</div>

</body>
</html>
